version: '3.9'

services:
  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq_server
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: user
      RABBITMQ_DEFAULT_PASS: password
    healthcheck:
      test: [ "CMD", "rabbitmq-diagnostics", "-q", "ping" ]
      interval: 10s
      timeout: 5s
      retries: 5

  db:
    image: postgres:15
    container_name: postgres_db
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: orders_db
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U user" ]
      interval: 10s
      timeout: 5s
      retries: 5

  api:
    build: .
    container_name: python_api
    volumes:
      - .:/app
    depends_on:
      rabbitmq:
        condition: service_healthy
    environment:
      RABBITMQ_HOST: rabbitmq
      RABBITMQ_USER: user
      RABBITMQ_PASSWORD: password
    ports:
      - "8000:8000"
    command: uvicorn api:app --host 0.0.0.0 --port 8000
  productor:
    build: .
    container_name: python_productor
    volumes:
      - .:/app
    depends_on:
      api:
        condition: service_started
    environment:
      API_HOST: api
    stdin_open: true
    tty: true
    command: tail -f /dev/null

  worker:
    build:
      context: .
    container_name: python_worker
    volumes:
      - .:/app
    depends_on:
      rabbitmq:
        condition: service_healthy
      db:
        condition: service_healthy
    environment:
      PYTHONUNBUFFERED: 1
      RABBITMQ_HOST: rabbitmq
      RABBITMQ_USER: user
      RABBITMQ_PASSWORD: password
      DB_HOST: db
      DB_USER: user
      DB_PASSWORD: password
      DB_NAME: orders_db
    command: python consumer.py